@model dynamic

@{
    ViewBag.Title = "Ukraine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Ukraine</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Ukrainian Food</li>
    <li>@Html.ActionLink("Ukrainian Starters", "UkrainianStarters", "Ukraine")</li>
    <li>@Html.ActionLink("Ukrainian Mains", "UkrainianMains", "Ukraine")</li>
    <li>@Html.ActionLink("Ukrainian Desserts", "UkrainianDesserts", "Ukraine")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Ukraine/Flag_of_Ukraine.webp" alt="Ukrainian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Ukrainian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Ukrainian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Ukrainian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Ukrainian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>