@model dynamic

@{
    ViewBag.Title = "Bosnia and Herzegovina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Bosnia and Herzegovina</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Bosnian Food</li>
    <li>@Html.ActionLink("Bosnian Starters", "BosnianStarters", "Bosnia_and_Herzegovina")</li>
    <li>@Html.ActionLink("Bosnian Mains", "BosnianMains", "Bosnia_and_Herzegovina")</li>
    <li>@Html.ActionLink("Bosnian Desserts", "BosnianDesserts", "Bosnia_and_Herzegovina")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Bosnia and Herzegovina/Flag_of_Bosnia_and_Herzegovina.webp" alt="Bosnian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Bosnian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Bosnian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Bosnian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Bosnian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>