@model dynamic

@{
    ViewBag.Title = "Slovenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Slovenia</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Slovenian Food</li>
    <li>@Html.ActionLink("Slovenian Starters", "SlovenianStarters", "Slovenia")</li>
    <li>@Html.ActionLink("Slovenian Mains", "SlovenianMains", "Slovenia")</li>
    <li>@Html.ActionLink("Slovenian Desserts", "SlovenianDesserts", "Slovenia")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Slovenia/Flag_of_Slovenia.webp" alt="Slovenian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Slovenian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Slovenian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Slovenian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Slovenian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>