@model dynamic

@{
    ViewBag.Title = "Austria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Austria</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Austrian Food</li>
    <li>@Html.ActionLink("Austrian Starters", "AustrianStarters", "Austria")</li>
    <li>@Html.ActionLink("Austrian Mains", "AustrianMains", "Austria")</li>
    <li>@Html.ActionLink("Austrian Desserts", "AustrianDesserts", "Austria")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Austria/Flag_of_Austria.webp" alt="Austrian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Austrian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Austrian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Austrian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Austrian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>