@model dynamic

@{
    ViewBag.Title = "Andorran Mains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Andorran Mains Recipes</h1>
<br />
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li>@Html.ActionLink("About Andorran Food", "Index", "Andorra")</li>
    <li>@Html.ActionLink("Andorran Starters", "AndorranStarters", "Andorra")</li>
    <li class="active">Andorran Mains</li>
    <li>@Html.ActionLink("Andorran Desserts", "AndorranDesserts", "Andorra")</li>
</ul>

<br />
<hr />
<br />

<h2 class="text-center">Escudella (Mixed Meat Stew)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Andorra/Mains/Beef-Stew.webp" alt="Beef Stew" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <br />
                    <ul>
                        <li>2 Cups Borlotti Beans (Rinsed)</li>
                        <li>Beef Bones</li>
                        <li>3 Boneless Skinless Chicken Thighs</li>
                        <li>28g Sausage Meat (Rolled Into Small Balls)</li>
                        <li>3 Slices of Thick Ham (Cut Into Chunks)</li>
                        <li>1⁄2 a Cabbage</li>
                        <li>1 Large Potato (Cut Into Large Chunks)</li>
                        <li>1⁄4 Cup Uncooked Rice</li>
                        <li>1 Cup Pasta</li>
                        <li>1 Cup Garbanzo Beans</li>
                        <li>Salt and Pepper to Taste</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Put the beans, sausage balls, ham, chicken and bones into a pot with 8 cups of water and bring to a boil, then reduce heat and let it simmer covered for two hours.
                            <br/><br />
                        </li>
                        <li>
                            Remove the bones and bring the remaining stock and meat back up to a boil (if there isn't a lot of liquid you can add more water), then add the cabbage, potato, rice, pasta, garbanzo beans, salt and pepper.
                            <br /><br />
                        </li>
                        <li>
                            Cook for another 30 minutes, or until the potatoes and rice are tender, serve warm ladled into bowls with crusty bread.
                            <br /><br />
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Cunillo (Chicken Stew)</h2>
<div class="smaller-space"> </div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Andorra/Mains/Chicken-Stew.webp" alt="Chicken Stew" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <br />
                    <ul>
                        <li>1/4 Cup Vinegar</li>
                        <li>A Few Tarragon leaves</li>
                        <li>2 Chicken Thighs (Skinless and Boneless)</li>
                        <li>1 Cup Chopped Onions</li>
                        <li>1 Tsp Dried Oregano</li>
                        <li>1 Tsp Dried Thyme</li>
                        <li>4 Bay Leaves</li>
                        <li>1 Cup White Wine</li>
                        <li>3 Cups Crushed Tomatoes</li>
                        <li>Salt and Pepper to Taste</li>
                        <li>2 Cups Pasta</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Place the chicken, tarragon leaves and vinegar in a bowl, turn to coat and marinate for 20 to 30 minutes (preferably overnight if possible).
                            <br /><br />
                        </li>
                        <li>
                            Place the onions in a slow cooker which has been greased with oil, then arrange the chicken thighs over onions.
                            <br /><br />
                        </li>
                        <li>
                            Sprinkle oregano, thyme, and bay leaves over the chicken and season to taste. Pour the wine over the chicken, then add the crushed tomatoes.
                            <br /><br />
                        </li>
                        <li>
                            Cook on low for 8 to 10 hours, or until chicken is tender and falls off the bone. Serve over cooked pasta.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Trucha a La Piedra (Grilled Trout)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Andorra/Mains/Grilled-Fish.webp" alt="Grilled Fish" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <br />
                    <ul>
                        <li>4 Fresh Rainbow Trout (Cleaned and Deboned)</li>
                        <li>2 Lemons (One Sliced in Rounds the Other in Wedges)</li>
                        <li>8 Sprigs of Fresh Parsley</li>
                        <li>4 Sprigs of Fresh Tarragon </li>
                        <li>4 Sprigs of Fresh Oregano</li>
                        <li>4 Slices of Bacon</li>
                        <li>Salt and Pepper to Taste</li>
                        <li>Olive oil</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Preheat a grill to a medium heat, season the interior of the trout and stuff with the parsley, tarragon, oregano and a slice of lemon.
                            <br /><br />
                        </li>
                        <li>
                            Then rub the exterior of the trout with olive oil, place a slice of bacon on top and cook on each side on a baking tray until nicely charred on each side.
                            <br /><br />
                        </li>
                        <li>
                            Garnish with the left over parsley springs and lemon wedges and serve with a drizzle of olive oil.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Cannelloni Andorrana (Andorran Style Cannelloni)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br />    
                    <img class="img-responsive" src="~/Images/Andorra/Mains/Cannelloni.webp" alt="Cannelloni" />
                </div>
                <div class="col-md-4">
                    <br />
                    <h2 class="text-left">Ingredients</h2>
                    <div class="text-left">
                        <h3>For the Filling</h3>
                    </div>
                    <br />
                    <ul>
                        <li>400g Minced Lamb</li>
                        <li>150g Feta Cheese</li>
                        <li>100g Cream Cheese</li>
                        <li>Salt and Pepper to Taste</li>
                        <li>8 Cooked Lasagne Sheets</li>
                    </ul>
                    <br />
                    <div class="text-left">
                        <h3>For the Sauce</h3>
                    </div>
                    <br />
                    <ul>
                        <li>250ml (1 Cup) Beef Stock</li>
                        <li>100g Milk</li>
                        <li>2 Tbsp Butter</li>
                        <li>2 Tbsp Flour</li>
                    </ul>
                    <br />
                    <div class="text-left">
                        <h3>For the Topping</h3>
                    </div>
                    <br />
                    <ul>
                        <li>200g Grated Cheese</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Preheat the oven to 200 C and brown the meat in a pan with salt and pepper. Once the meat is cooked through, remove from heat and mix in the feta cheese and the cream cheese.
                            <br /><br />
                        </li>
                        <li>
                            Place the mix on the lasagne sheets and roll them then place the filled and rolled sheets into an ovenproof dish.
                            <br /><br />
                        </li>
                        <li>
                            Melt the butter in a pot, and stir in the flour until the mix is even, then add the milk and stock while stirring. Add a little at a time to get a smoother mixture, bring to a boil while stirring, and pour the sauce over the rolled sheets in the ovenproof dish.
                            <br /><br />
                        </li>
                        <li>
                            Top the dish with grated cheese, and bake on the middle rack for 10—20 minutes until the cheese is golden brown. Serve with a side salad.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>