@model dynamic

@{
    ViewBag.Title = "Croatia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Croatia</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Croatian Food</li>
    <li>@Html.ActionLink("Croatian Starters", "CroatianStarters", "Croatia")</li>
    <li>@Html.ActionLink("Croatian Mains", "CroatianMains", "Croatia")</li>
    <li>@Html.ActionLink("Croatian Desserts", "CroatianDesserts", "Croatia")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Croatia/Flag_of_Croatia.webp" alt="Croatian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Croatian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Croatian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Croatian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Croatian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>