@model dynamic

@{
    ViewBag.Title = "Netherlands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to The Netherlands</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Dutch Food</li>
    <li>@Html.ActionLink("Dutch Starters", "DutchStarters", "Netherlands")</li>
    <li>@Html.ActionLink("Dutch Mains", "DutchMains", "Netherlands")</li>
    <li>@Html.ActionLink("Dutch Desserts", "DutchDesserts", "Netherlands")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Netherlands/Flag_of_Netherlands.webp" alt="Dutch Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Dutch Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Dutch Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Dutch Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Dutch Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>