@model dynamic

@{
    ViewBag.Title = "Icelandic Desserts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Icelandic Dessert Recipes</h1>
<br />
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li>@Html.ActionLink("About Icelandic Food", "Index", "Iceland")</li>
    <li>@Html.ActionLink("Icelandic Starters", "IcelandicStarters", "Iceland")</li>
    <li>@Html.ActionLink("Icelandic Mains", "IcelandicMains", "Iceland")</li>
    <li class="active">Icelandic Desserts</li>
</ul>

<br />
<hr />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Placeholder.webp" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<div class="smaller-space"> </div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br />
                    <img class="img-responsive" src="~/Images/Placeholder.webp" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <br />
                    <h2 class="text-left">Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li> </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Placeholder.webp" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <br />
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Placeholder.webp" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2 class="text-left">Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>
