@model dynamic

@{
    ViewBag.Title = "Wales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Wales</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Welsh Food</li>
    <li>@Html.ActionLink("Welsh Starters", "WelshStarters", "Wales")</li>
    <li>@Html.ActionLink("Welsh Mains", "WelshMains", "Wales")</li>
    <li>@Html.ActionLink("Welsh Desserts", "WelshDesserts", "Wales")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Wales/Flag_of_Wales.webp" alt="Welsh Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Welsh Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Welsh Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Welsh Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Welsh Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>