@model dynamic

@{
    ViewBag.Title = "Albanian Desserts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Albanian Dessert Recipes</h1>
<br />
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li>@Html.ActionLink("About Albanian Food", "Index", "Albania")</li>
    <li>@Html.ActionLink("Albanian Starters", "AlbanianStarters", "Albania")</li>
    <li>@Html.ActionLink("Albanian Mains", "AlbanianMains", "Albania")</li>
    <li class="active">Albanian Desserts</li>
</ul>

<br />
<hr />
<br />

<h2 class="text-center">Baklava</h2>
<br />
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Desserts/Baklava.webp" alt="Baklava" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Nuts</h3></div>
                    <ul>
                        <li>227g Walnuts</li>
                        <li>227g Pistachios</li>
                        <li>1 Tsp Ground Cinnamon</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Pastry</h3></div>
                    <ul>
                        <li>Pack Of Filo pastry</li>
                        <li>1 Cup Butter</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Syrup</h3></div>
                    <ul>
                        <li>1 Cup Sugar</li>
                        <li>½ Cup Honey</li>
                        <li>1 Tsp Vanilla Extract</li>
                        <li>1 Cup Water</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Preheat oven to 180 degrees C and butter the bottom and sides of a 9×13 glass pan. Finely chop the nuts and toss them with the cinnamon and set aside.
                            <br /><br />
                        </li>
                        <li>
                            Unroll filo and cover with a damp towel while working so that it does not dry out. Cover the pan with two layers of the filo then thoroughly brush with melted butter. Continue this pattern until you have a base layer of 8 sheets of dough. Sprinkle it with 2-3 tablespoons of nut mixture.
                            <br /><br />
                        </li>
                        <li>
                            Layer with 2 sheets of dough again, brush with butter, and then top with 2-3 tablespoons of nuts. Continue this process of layering until you use everything up. Use a sharp knife to cut into squares (or diamonds) then bake for about 50 minutes. While baking, prepare the syrup by boiling sugar, honey, vanilla and water together for 20 minutes. once you've removed the baklava from the oven, spoon the syrup over it and cool.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Pastashu (Albanian Style Eclairs)</h2>
<br />
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br /><br /><br /><br />
                    <img class="img-responsive" src="~/Images/Albania/Desserts/Eclairs.webp" alt="Albanian Eclairs" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Choux Pastry</h3></div>
                    <ul>
                        <li>65g (1/2 cup) All Purpose Flour</li>
                        <li>½ Tsp Sugar</li>
                        <li>½ Tsp Salt</li>
                        <li>55g (4 Tbsp) Unsalted Butter</li>
                        <li>½ cup Water</li>
                        <li>2 Eggs</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Cream Filling</h3></div>
                    <ul>
                        <li>3/4 Cup Whole Milk</li>
                        <li>1/4 Cup Sugar</li>
                        <li>1 Tbsp All Purpose Flour</li>
                        <li>1 Tbsp Corn Flour</li>
                        <li>Pinch of Salt</li>
                        <li>2 Egg Yolks</li>
                        <li>½ Tsp Vanilla Extract</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Chocolate Icing</h3></div>
                    <ul>
                        <li>2 Tbsp Chocolate</li>
                        <li>4 Tbsp Heavy Cream</li>
                        <li>8 Whole Pecans and 8 Chopped Pecans (Optional)</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <div class="text-left"><h3>To Make the Pastry</h3></div>
                    <ol class="text-justify">
                        <li>
                            In a bowl  mix the flour, sugar, salt and set aside. Then in a saucepan, heat the butter and water and let it come to boil. Remove from heat, add the flour and stir continuously until combined. Put it back on low heat and stir until the dough comes away from the sides of the pan. Let it cool down for 5 minutes and add 1 egg at a time and stir until mixed well. Do this for rest of the eggs. Finally, place the mix into a piping bag and pipe 8 lines of dough spaced apart onto a tray with baking parchment and bake for 15 minutes.
                            <br /><br />
                            <div class="text-left"><h3>To Make the Filling</h3></div>
                        </li>
                        <li>
                            Whilst the eclairs are cooling mix the sugar, flour and salt in a bowl. Add the Egg Yolks and combine into a paste, warm the milk (but don't boil). Pour the milk little by little into the egg mixture and combine, continue this until all the milk is used and stir in the vanilla extract. Put back on heat and stir to form a thick cream, let it cool completely and pipe into the cooled eclairs.
                            <br /><br />
                            <div class="text-left"><h3>To Make the Chocolate Icing</h3></div>
                        </li>
                        <li>
                            Heat the cream, pour onto the chocolate and mix until the chocolate is melted and fully combined with the cream then let it cool. Dip each eclair into the chocolate so that only the top is covered (optionally finish with a sprinkle of finely chopped pecans and top with a whole pecan for extra decoration) and serve with coffee or tea.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Shendetlie (Honey and Nut Cake)</h2>
<br/>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Desserts/Sponge_Cake.webp" alt="Sponge Cake" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Pastry</h3></div>
                    <ul>
                        <li>300g Sugar</li>
                        <li>3 Eggs</li>
                        <li>180g Melted Butter</li>
                        <li>700g Flour</li>
                        <li>100g Walnuts</li>
                        <li>4 Tbsp Honey</li>
                        <li>1 Tsp Baking Soda</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Sugar Syrup</h3></div>
                    <ul>
                        <li>220g Sugar</li>
                        <li>440ml Water</li>
                        <li>Flaked Almonds (Optional)</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            In a mixing bowl cream together the eggs, sugar and cooled melted butter then add the honey and soda. Add half the flour and the walnuts (you can add the walnuts whole or ground them) and mix well. Add the rest of the flour and using your hands kneed the mixture together until a firm dough is formed. Coat a circular baking tray with olive oil. Add the dough and press it down so that it fits the whole tray, bake at 180 degrees for 35 minutes. Remove from the oven and leave to cool while making the syrup.
                            <br /><br />
                        </li>
                        <li>
                            To make the syrup add the sugar and water to a saucepan and bring to the boil. Leave it to boil for 10 minutes, mixing occasionally then remove from the heat.
                            <br /><br />
                        </li>
                        <li>
                            Cut into squares (or diamonds) and pour over the hot syrup leave to soak for at least 1 hour before serving, if using add the almonds whilst the syrup is cooling so they cling to the syrup.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Flija (Layered Pancakes)</h2>
<br />
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br /><br /><br /><br />
                    <img class="img-responsive" src="~/Images/Albania/Desserts/Pancakes.webp" alt="Pancakes" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Pancake Batter</h3></div>
                    <ul>
                        <li>500g Flour</li>
                        <li>½ Litre Water</li>
                        <li>½ Tsp Salt</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>Pancake Filling (Option 1)</h3></div>
                    <ul>
                        <li>110g Melted Butter</li>
                        <li>100ml Vegetable Oil</li>
                        <li>2 ½ Tbsp Greek Yogurt</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>Pancake Filling (Option 2)</h3></div>
                    <ul>
                        <li>110g Melted Butter</li>
                        <li>100ml Vegetable Oil</li>
                        <li>1 ½ Tbsp Clotted Cream</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>Pancake Filling (Option 3)</h3></div>
                    <ul>
                        <li>110g Melted Butter</li>
                        <li>250ml Sour Cream</li>
                        <li>1 ½  Tbsp Olive Oil</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Make the batter by mixing the flour, water and salt ensuring all the lumps are dissolved. The mixture should be thick but still of a pouring consistency, add a little extra water if required and put to one side.
                            <br /><br />
                        </li>
                        <li>
                            For the filling mix the butter, oil and chosen yogurt or cream ensuring all the lumps are dissolved. The mixture should be runny, leave to rest for 10 minutes before given it another good mix. The consistency should then be similar to custard, put to one side.
                            <br /><br />
                        </li>
                        <li>
                            Preheat the gill to medium, take a circular pan and rub some olive oil over the base. Make the first layer of flour batter by using a squirty bottle or ladle, don't try to pour it in as it will be too thick in the pan. Place under the grill until golden brown, this will take between 3 - 5 minutes.
                            <br/><br/>
                        </li>
                        <li>
                            Remove from under the grill and using a brush or the back of spoon rub over the whole pan with a layer of the batter filling. Then, add a layer of the flour filling, place under the grill until golden brown, this will take between 3 - 5 minutes. Repeat until all the batter and filling has been used, then serve warm with fruit and honey.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>