@model dynamic

@{
    ViewBag.Title = "Albanian Starters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Albanian Starter Recipes</h1>
<br />
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li>@Html.ActionLink("About Albanian Food", "Index", "Albania")</li>
    <li class="active">Albanian Starters</li>
    <li>@Html.ActionLink("Albanian Mains", "AlbanianMains", "Albania")</li>
    <li>@Html.ActionLink("Albanian Desserts", "AlbanianDesserts", "Albania")</li>
</ul>

<br />
<hr />
<br />

<h2 class="text-center">Shishqebap me Mish Pule (Chicken Kebabs)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Starters/Chicken_Kebabs.webp" alt="Chicken Kebabs" />
                    <br/><br />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>Kebabs</h3></div>
                    <br/>
                    <ul>
                        <li>400g Cubed Chicken Breast</li>
                        <li>1 Cubed Red Pepper</li>
                        <li>Sliced Salami (Preferably Albanian)</li>
                    </ul>
                    <div class="smaller-space"></div>
                    <div class="text-left"><h3>Marinade</h3></div>
                    <br/>
                    <ul>
                        <li>Salt</li>
                        <li>Pepper</li>
                        <li>2 Cloves Diced Garlic</li>
                        <li>1 Tbsp Paprika</li>
                        <li>1 Tbsp Honey</li>
                        <li>1 Tbsp Dried Oregano</li>
                        <li>2 Tbsp Olive Oil</li>
                    </ul>
                    <br/><br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            (Note - If using Wooden Skewers be sure to soak them first)
                            <br /><br />
                            Skewer in this order - chicken, pepper, salami.
                            <br /><br />
                            Continue until you have used all of the ingredients (this should make approx. 5 kebabs)
                            <br /><br />
                        </li>
                        <li>
                            Mix all the marinade ingredients together, brush over chicken, cover in cling film and marinate for at least half an hour (overnight will impart more flavour).
                            <br /><br />
                        </li>
                        <li>Place the kebabs on a grilling machine such as a George Foreman, close the lid and cook for 10 -12 minutes on a high setting. Turn the kebabs occasionally. You can also cook these kebabs under the grill on a baking tray or on the BBQ. Once cooked, plate up and serve with a side salad, grilled vegetables, your favourite condiments or pitta bread (or all of them! :D).</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Arra të Mbushura me Fik (Walnut Stuffed Syrupy Figs)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br />
                    <img class="img-responsive" src="~/Images/Albania/Starters/Figs_and_Walnuts.webp" alt="Figs and Walnuts" />
                    <br />
                </div>
                <div class="col-md-4">
                    <br />
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br/><br />
                    <ul>
                        <li>4 Fresh Figs</li>
                        <li>8 Walnut Halves</li>
                        <li>150ml Water</li>
                        <li>60g Sugar</li>
                    </ul>
                    <br /><br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Cut off the hard bits of stalk and then cut the figs in half length ways.
                            <br /><br />
                        </li>
                        <li>
                            Place the figs in a frying pan with the cut side face up and add the water around them. Leave the figs on a medium heat to cook through, once they become soft remove them from the pan and place onto a serving dish (this will take around 10 - 15 minutes).
                            <br /><br />
                        </li>
                        <li>
                            In the pan there will be a red water juice left from the figs. Add the sugar while remaining on a medium heat. Stir continuously for a couple of minutes until the juice has turned to a thick syrup. Remove from the heat.
                            <br /><br />
                        </li>
                        <li>Push one half of walnut into every fig and then drizzle the syrup over the top. Serve warm or cooled.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Byrek me Mish Dhe Spinaq (Meat and Spinach Pie)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Starters/Filo_Pie.webp" alt="Filo Pie" />
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <ul>
                        <li>1 Pack of Filo Pastry</li>
                        <li>750g Mince Beef</li>
                        <li>1 Diced Onion</li>
                        <li>1 Diced Spinach</li>
                        <li>2 Finely Diced Potatoes</li>
                        <li>3 Tbsp Tomato Puree</li>
                        <li>1/2 Pint Beef Stock</li>
                        <li>1 Tsp Paprika</li>
                        <li>Salt</li>
                        <li>Pepper</li>
                        <li>Olive Oil</li>
                        <li>220ml Water</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            In a saucepan add the olive oil and fry the onions for 2 minutes before adding the mince and browning.
                            <br /><br />
                        </li>
                        <li>
                            Add the tomato puree, salt, pepper, paprika, potatoes and beef stock. Bring to the boil, leave to simmer for 10 minutes, once the mixture has thickened and the water has boiled away, turn off the heat add the spinach and leave to cool for 10 minutes as this will allow the spinach to wilt in the residual heat.
                            <br /><br />
                        </li>
                        <li>
                            Layer sheets of filo pastry on top of each other brushing a layer of olive oil after each one before the next one is place down. Once 6/8 sheet are laid add the filling on top. Repeat the layering until a further 6/8 sheets are on top of the filling - olive oil brushed on each one.
                            <br /><br />
                        </li>
                        <li>
                            Bake in the oven at 180 degrees for 1 hour or until golden brown.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Qofte të Fërguara (Fried Meatballs)</h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Starters/Meatballs.webp" alt="Meatballs" />
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For Meatballs</h3></div>
                    <br />
                    <ul>
                        <li>500g Lamb Mince</li>
                        <li>1 Grated Onion</li>
                        <li>30g Breadcrumbs</li>
                        <li>1 Egg Yolk</li>
                        <li>10g Parsley</li>
                        <li>1 Tsp Paprika</li>
                        <li>1/2 Tbsp Oregano</li>
                        <li>1/2 Tsp Salt</li>
                        <li>1/2 Tbsp Pepper</li>
                        <li>50g Flour (for dusting)</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For Breading</h3></div>
                    <br />
                    <ul>
                        <li>1 Tbsp Flour</li>
                        <li>1 Egg & 1 Egg White Mixed</li>
                        <li>15ml Water</li>
                        <li>Salt</li>
                        <li>50ml Approx Vegetable Oil</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Combine the lamb mince, grated onion, breadcrumbs, egg yolk, parsley, oregano, salt, pepper and paprika.
                            <br /><br />
                        </li>
                        <li>
                            With oiled hands mix and knead together until the ingredients are well combined, then divide into 14 individual meatballs and dust with flour.
                            <br /><br />
                        </li>
                        <li>
                            Combine egg/egg white mixture the 1 tbsp of flour and water and start heating the oil in a frying pan.
                            <br /><br />
                        </li>
                        <li>
                            Once the oil is ready, dip a meatball into the egg mix ensuring it is completely covered and then place into the frying pan and cook for  2-3 minutes on each side. Complete this process until all the meatballs are cooked, plate them up and serve warm with bread, salad and yogurt (alternatively they can be served skewered on toothpicks and dipped into a garlic yoghurt dip).
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>
