@model dynamic

@{
    ViewBag.Title = "Albanian Mains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Albanian Mains Recipes</h1>
<br />
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li>@Html.ActionLink("About Albanian Food", "Index", "Albania")</li>
    <li>@Html.ActionLink("Albanian Starters", "AlbanianStarters", "Albania")</li>
    <li class="active">Albanian Mains</li>
    <li>@Html.ActionLink("Albanian Desserts", "AlbanianDesserts", "Albania")</li>
</ul>

<br />
<hr />
<br />

<h2 class="text-center">Fergesë me piperka (Cheese and Vegetable Stew With Peppers)</h2>
<br />
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Mains/Cheese_and_Vegetable_Stew_with_Peppers.webp" alt="Cheese and Vegetable Stew with Peppers" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Stew</h3></div>
                    <br />
                    <ul>
                        <li>A Splash of Olive Oil</li>
                        <li>5 Roasted & Diced Red Bell Peppers </li>
                        <li> 1 Diced Onion</li>
                        <li>400g Diced Tomatoes</li>
                        <li>1 Tsp Chilli Flakes (Optional)</li>
                        <li>2 Tbsp Basil</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Sauce</h3></div>
                    <br />
                    <ul>
                        <li>20g Flour</li>
                        <li>20g Butter</li>
                        <li>40g Greek Yogurt</li>
                        <li>150g Feta Cheese</li>
                        <li>Salt</li>
                        <li>Pepper</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Sweat the onion in a small drop of olive oil until softened - about 3 minutes, then remove and set aside.
                            Then simmer the red bell peppers, tomatoes and basil on a medium to high heat for 10 minutes - the mixture should have thickened with little liquid remaining. Mix in the onion and set aside to cool.
                            <br /><br />
                        </li>
                        <li>
                            In a separate small saucepan melt the butter. Mix in the flour to form a roux. Crumble in the feta while stirring quickly. Once all has melted, you should have a thick texture - then add the yogurt.
                            Mix the feta and yogurt mixture into it into the pepper and tomatoes mixture. Season with chilli flakes (if using) and salt & pepper.
                            <br /><br />
                        </li>
                        <li>
                            Place into a baking dish and cook on 180 degrees celsius for 30 minutes, let it cool slightly then serve with roasted vegetables and crusty bread.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">Tavë Kosi (Baked Lamb with Yoghurt)</h2>
<br />
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br />
                    <img class="img-responsive" src="~/Images/Albania/Mains/Lamb_Stew.webp" alt="Lamb Stew" />
                </div>
                <div class="col-md-4">
                    <br />
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Lamb</h3></div>
                    <ul>
                        <li>600g Diced Lamb </li>
                        <li>20g Butter</li>
                        <li>2 Tbsp Olive Oil</li>
                        <li>70g Rice</li>
                        <li>2 Tsp Oregano</li>
                        <li>450ml Boiling Water</li>
                        <li>2 Cloves Diced Garlic</li>
                        <li>Salt</li>
                        <li>Pepper</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Roux</h3></div>
                    <ul>
                        <li>50g Butter</li>
                        <li>2 Tbsp Flour</li>
                    </ul>
                    <br />
                    <h3 class="text-left">For the Yoghurt</h3>
                    <ul>
                        <li>750g Greek Yogurt</li>
                        <li>6 Eggs</li>
                        <li>Salt</li>
                        <li>Pepper</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <br />
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            In a large frying pan, melt the butter and olive oil together, then add the diced lamb and brown for 5 minutes. Add the garlic, oregano, 300ml of water and season with salt and pepper. Mix well before covering with a lid. Leave to simmer for 50 minutes mixing a couple of times ensuring the lamb doesn't start to burn.
                            <br /> <br />
                        </li>
                        <li>
                            The juices should have nearly all boiled away so add another 150ml of water which should be added along with the rice. Mix altogether, bring to the boil, place the lid on and leave for 10 more minutes, then take out ot cool.
                            <br /> <br />
                        </li>
                        <li>
                            In a small saucepan melt the butter over a medium heat and then add two tablespoons of flour while continuously stirring for two minutes. Then in a mixing bowl add the yogurt, eggs and season with salt and pepper. Mix together then add to the roux. Pour the mixture over the baked lamb and sprinkle on a little oregano. Finally, cook on 180 degrees for 45 minutes.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center">
    Gjellë me Arra të Ellit (Chicken with Walnuts)</h2>
<br/>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Mains/Chicken_With_Walnuts.webp" alt="Chicken and Walnut Stew" />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Chicken</h3></div>
                    <ul>
                        <li>1 Onion (Cut into Large Chunks)</li>
                        <li>1 Garlic Clove (Minced)</li>
                        <li>1 Pepper (Cut into Large Chunks)</li>
                        <li>1kg Chicken Meat (Cubed)</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Sauce</h3></div>
                    <ul>
                        <li>2 tbsp Flour</li>
                        <li>14 Walnuts (Ground)</li>
                        <li>2 Egg Yolks (Beaten)</li>
                        <li>115g Butter</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Add the chicken, peppers, garlic and onions to a pan with a little olive oil and cook until browned. Remove with a slotted spoon and set aside (reserve the juices in the pan). 
                            <br/><br />
                        </li>
                        <li>
                            In another pan, gently cook the flour until it becomes lightly golden (do not allow to burn) then add half the butter and heat until melted before adding the walnuts and egg yolks, stirring constantly. Pour the juices from the first pan over the top and continue to cook, stirring constantly, until the ingredients begin to thicken.
                            <br/><br />
                        </li>
                        <li>
                            Immediately take off the heat (otherwise the eggs will just scramble) then fold in the cooked chicken. Set aside to keep warm. 
                            <br/><br />
                        </li>
                        <li>
                            Meanwhile pan-fry the remaining butter until it becomes brown and nutty. Pour the chicken mixture into a warmed serving bowl and pour the browned butter over the top.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center"> Pule me Oriz (Chicken Pilaf)</h2>
<br/>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img class="img-responsive" src="~/Images/Albania/Mains/Chicken_and_Rice.webp" alt="Chicken and Rice" />
                    <br />
                </div>
                <div class="col-md-4">
                    <div class="text-left"><h2>Ingredients</h2></div>
                    <br />
                    <div class="text-left"><h3>For the Chicken</h3></div>
                    <ul>
                        <li>18 Chicken Drumsticks</li>
                        <li>1 Tbsp Paprika</li>
                        <li>1 Tbsp Parsley</li>
                        <li>1/4 Tsp Salt</li>
                        <li>1/4 Tsp Pepper</li>
                        <li>2 Tbsp Olive Oil</li>
                    </ul>
                    <br />
                    <div class="text-left"><h3>For the Rice</h3></div>
                    <ul>
                        <li>1 Diced Onion</li>
                        <li>25g Butter</li>
                        <li>2 Tbsp Olive Oil</li>
                        <li>200g Rice</li>
                        <li>2 Pints Vegetable Stock</li>
                    </ul>
                    <br />
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>
                            Combine the paprika, parsley, salt, pepper and half the oil. Rub this over all the chicken, then place each drumstick onto a large, deep sided, greased baking tray. Finally, place in the oven at 180 degrees for 30 minutes, once finished set the chicken aside and keep the baking tray with chicken juices for the rice. 
                            <br /><br />
                        </li>
                        <li>
                            Then, in a saucepan add the butter, olive oil and onion. Fry for 2-3 minutes until the butter is fully melted and the onion is just starting to brown. Add the rice and stir continuously for a minute ensuring the rice is mixed with the onion then add the vegetable stock and bring to the boil.
                            <br /><br />
                        </li>
                        <li>
                            Once the rice has come to the boil empty it onto the baking tray and stir into the oil and juices left by the chicken, then re-add all the chicken ensuring there is a bit of space between each one. Cover the baking tray with foil and place back in the oven for 40 minutes.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>