<head>
    <link href="~/Content/recipes.css" rel="stylesheet" type="text/css" />
</head>

<h1 class="text-center">Welcome to *</h1>
<br />

<h5>Recipe Navigation</h5>
<br />
<ul class="breadcrumb">
    <li><a>@Html.ActionLink("Countries", "CountriesList", "Countries")</a></li>
    <li class="active">About * Food</li>
    @*<li><a>@Html.ActionLink("* Starters", "*Starters", "*")</a></li>*@
    @*<li><a>@Html.ActionLink("* Mains", "*Mains", "*")</a></li>*@
    @*<li><a>@Html.ActionLink("* Desserts", "*Desserts", "*")</a></li>*@
</ul>

<div class="smaller-space"></div>

<div class="text-center">
    @*<img class="img-fluid" src="~/Images" alt=" Flag" />*@
</div>

<div class="small-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title lead">About * Cuisine</h1>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h1>About * Starters</h1>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h1>About * Mains</h1>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h1>About * Desserts</h1>
    <br />
    <p class="text-justify">

    </p>
</div>