Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/recipes.css" rel="stylesheet" type="text/css" />
</head>

<h1 class="text-center">* Starter Recipes</h1>
<br />
<br />

<h5>Recipe Navigation</h5>
<br />
<ul class="breadcrumb">
    <li><a>@Html.ActionLink("Countries", "CountriesList", "Countries")</a></li>
    @*<li><a>@Html.ActionLink("About * Food", "Index", "*")</a></li>*@
    <li class="active">* Starters</li>
    @*<li><a>@Html.ActionLink("* Mains", "*Mains", "*")</a></li>*@
    @*<li><a>@Html.ActionLink("* Desserts", "*Desserts", "*")</a></li>*@
</ul>

<br />
<hr />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img src="~/Images/Placeholder.png" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2>Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<div class="smaller-space"> </div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br /><br />
                    <img src="~/Images/Placeholder.png" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <br />
                    <h2>Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li> </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img src="~/Images/Placeholder.png" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2>Ingredients</h2>
                    <br />
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<hr />
<br />
<br />

<h2 class="text-center"> </h2>
<div class="smaller-space"></div>
<div class="container-fluid well well-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <br />
                    <img src="~/Images/Placeholder.png" alt="Placeholder Image" />
                </div>
                <div class="col-md-4">
                    <h2>Ingredients</h2>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center">Method</h2>
                    <br />
                    <ol class="text-justify">
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="smaller-space"></div>