@model dynamic

@{
    ViewBag.Title = "Estonia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Estonia</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Estonian Food</li>
    <li>@Html.ActionLink("Estonian Starters", "EstonianStarters", "Estonia")</li>
    <li>@Html.ActionLink("Estonian Mains", "EstonianMains", "Estonia")</li>
    <li>@Html.ActionLink("Estonian Desserts", "EstonianDesserts", "Estonia")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Estonia/Flag_of_Estonia.webp" alt="Estonian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Estonian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Estonian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Estonian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Estonian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>