@model dynamic

@{
    ViewBag.Title = "Sweden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Sweden</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Swedish Food</li>
    <li>@Html.ActionLink("Swedish Starters", "SwedishStarters", "Sweden")</li>
    <li>@Html.ActionLink("Swedish Mains", "SwedishMains", "Sweden")</li>
    <li>@Html.ActionLink("Swedish Desserts", "SwedishDesserts", "Sweden")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Sweden/Flag_of_Sweden.webp" alt="Swedish Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Swedish Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Swedish Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Swedish Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Swedish Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>