@model dynamic

@{
    ViewBag.Title = "Romania";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Romania</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Romanian Food</li>
    <li>@Html.ActionLink("Romanian Starters", "RomanianStarters", "Romania")</li>
    <li>@Html.ActionLink("Romanian Mains", "RomanianMains", "Romania")</li>
    <li>@Html.ActionLink("Romanian Desserts", "RomanianDesserts", "Romania")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Romania/Flag_of_Romania.webp" alt="Romanian Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Romanian Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Romanian Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Romanian Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Romanian Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>