@model dynamic

@{
    ViewBag.Title = "Spain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Spain</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Spanish Food</li>
    <li>@Html.ActionLink("Spanish Starters", "SpanishStarters", "Spain")</li>
    <li>@Html.ActionLink("Spanish Mains", "SpanishMains", "Spain")</li>
    <li>@Html.ActionLink("Spanish Desserts", "SpanishDesserts", "Spain")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Spain/Flag_of_Spain.webp" alt="Spanish Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Spanish Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Spanish Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Spanish Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Spanish Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>
