@model dynamic

@{
    ViewBag.Title = "Denmark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"><strong>Welcome to Denmark</strong></h1>
<br />

<div class="text-left"><h2>Recipe Navigation</h2></div>
<br />
<ul class="breadcrumb">
    <li>@Html.ActionLink("Countries", "CountriesList", "Countries")</li>
    <li class="active">About Danish Food</li>
    <li>@Html.ActionLink("Danish Starters", "DanishStarters", "Denmark")</li>
    <li>@Html.ActionLink("Danish Mains", "DanishMains", "Denmark")</li>
    <li>@Html.ActionLink("Danish Desserts", "DanishDesserts", "Denmark")</li>
</ul>

<div class="smaller-space"></div>

<img class="img-responsive center-block" src="~/Images/Denmark/Flag_of_Denmark.webp" alt="Danish Flag" />

<div class="smaller-space"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-left"><h1 class="panel-title lead">About Danish Cuisine</h1></div>
    </div>
    <div class="panel-body text-justify lead">

    </div>
</div>

<div class="space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Danish Starters</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Danish Mains</h2>
    <br />
    <p class="text-justify">

    </p>
</div>

<div class="small-space"></div>

<div class="jumbotron">
    <h2 class="text-center">About Danish Desserts</h2>
    <br />
    <p class="text-justify">

    </p>
</div>